<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<!-- Icones google -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Google font -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet"> -->
		<!-- Custom stlylesheet -->
		<!-- <link type="text/css" rel="stylesheet" href="/css/error.css" /> -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<title>Authentification</title>
</head>
<body>
<div class="container">
		<div class="jumbotron mt-4" style="background-color:#DFF2FF !important;">
			<div sec:authorize="isAuthenticated()">
			Bonjour <span sec:authentication="name"></span>&nbsp;(<a
				th:href="@{/logout}" href="#">Déconnexion</a>)
		</div>

		<form name="f" th:action="@{/login}" method="post">
			<fieldset>
				<legend>Authentification</legend>
				<div th:if="${param.error}" class="alert alert-error">
					L'identifiant et le mot de passe sont invalides</div>
				<div th:if="${param.logout}" class="alert alert-success">Vous
					avez été déconnecté</div>

				<label for="username">Identifiant</label> <input type="text"
					id="username" name="username" autocomplete="off" /> <label
					for="password">Mot de passe</label> <input type="password"
					id="password" name="password" autocomplete="off" />
				<div class="form-actions">
					<button type="submit" class="btn">Connexion</button>
				</div>
			</fieldset>
		</form>
		</div>
	</div>
</body>
</html>